{% extends 'conseil.html.twig'%}

{% block body %}
<section class="container">

<h2 class="text-primary text-center  text-uppercase" >Garde meubles</h2>
<div class="text-center"><img src="image/gardeMeuble.jpg" ></div>
<hr>
<section>
    {{ textGardeMeuble | raw }}
 </section>
{% endblock %}