{% extends 'conseil.html.twig'%}

{% block body %}
<section class="container">

<h2 class="text-primary text-center  text-uppercase" >Monte meubles</h2>
<div class="text-center"><img src="image/monte-meubles.jpg" ></div>
<hr>
<section>
    {{ textMonteMeuble | raw }}
 </section>
</section>
{% endblock %}