{% extends 'conseil.html.twig'%}


{% block body %}
<section class="container">
<h2 class="text-primary text-center" >DÉMÉNAGEMENT DE PARTICULIERS</h2>
<div class="text-center">
<img src="image/particuliers.jpg">
</div>
<hr>
<section>
    {{ textParticuliers | raw }}
</section> 

{% endblock %}

