{% extends 'conseil.html.twig'%}

{% block body %}
<section class="container">
<h2 class="text-primary text-center" >TRANSFERT DE BUREAUX</h2>
<div class="text-center">
<img src="image/transfert-bureaux4.jpg">
</div>
<hr>
 <section>
    {{ textTransfert | raw }}
 </section>
</section>
{% endblock %}