{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-primary text-center  text-uppercase">Mentions légales</h2>
    <hr>
    <h5 class="text-primary"> DEMENAGER PAS CHER.COM</h5>
    <p>01.43.99.00.00</p>
    <p>contact@demenager-pas-cher.com</p>
    <p>SIRET : 49850884500019</p>
    <p>RCS : Creteil B 498 508 845</p>
    <p>Siège social : 8 Rue des Refugniks 94000 Créteil</p>
    <p>Hébergement du site : OVH</p>
    <h5 class="text-warning text-uppercase">Objet</h5>
    <p>Le site internet https://www.demenager-pas-cher.com  est la propriété de la société <span class="text-warning">DEMENAGER PAS CHER.COM</span>, Société à responsabilité limitée, au capital social de 10 000,00 €. En activité depuis 37 ans,(anciennement ATD Déménagement de pere en fils) la société est domiciliée à Créteil (94000) à l’adresse « demenager-pas-cher.com 8 rue refugniks, 94000 Créteil – France ».</p>
    <p><span class="text-warning">DEMENAGER PAS CHER.COM</span> est immatriculée au RCS de Créteil sous le numéro 498 508 845. Téléphone de contact de la société DEMENAGER PAS CHER.COM : 01.43.99.00.00. E-mail de contact : contact@demenager-pas-cher.com. <span class="text-warning">DEMENAGER PAS CHER.COM</span> est sous la direction de M. Salim BELGHARBI.</p>
    <p>Le site web https://www.demenager-pas-cher.com est hébergé par la société OVH. Ce site vise à bien définir le domaine d’activité de la société, ainsi que toutes les prestations offertes. Les photos sur le site ne sont pas contractuelles. Les liens hypertextes présents sur ce site Internet et aiguillant les utilisateurs vers d’autres sites Internet n’engagent pas la responsabilité de la rédaction de demenager-pas-cher.com.</p>
    <h5 class="text-warning text-uppercase">Information personnelles</h5>
    <p>L’objectif de la collecte des données personnelles via le site https://www.demenager-pas-cher.comconsiste à améliorer la qualité des prestations offertes.  Ces données personnelles peuvent être consultées, modifiées, rectifiées et supprimées par leurs auteurs. Toutes les données personnelles sont destinées à l’usage de la société https://www.demenager-pas-cher.com  et peuvent être exploitées par des prestataires de services travaillant pour la société.</p>
    <p>Chaque utilisateur peut exercer son plein droit de consultation, de rectification ou de suppression de ses données personnelles en contactant la société par courrier à l’adresse : « DPC, 8 rue refugniks, 94000 Créteil – France », ou en envoyant un e-mail à contact@demenager-pas-cher.com.</p>
    <h5 class="text-warning text-uppercase">Cookies</h5>
    <h5 class="text-primary">Qu’est-ce que les cookies ?</h5>
    <p>Les cookies sont des fichiers numériques déposés sur le disque dur de l’internaute lors de la consultation d’un site web. Ces fichiers permettent de conserver les informations nécessaires pour faciliter des connexions ultérieures. Le responsable du site https://www.demenager-pas-cher.com peut être amené à déposer des cookies sur les ordinateurs de ses utilisateurs lors d’une consultation du site web.</p>
    <p>Les cookies comprennent généralement une date d’expiration, des identifiants uniques et le nom du serveur à partir duquel a été déposé le fichier. Avant le dépôt des cookies, nous sollicitons l’accord des internautes, avec un message visible sur notre site web.</p>
    <h5 class="text-warning text-uppercase">Propriété intellectuelle</h5>
    <p>Tous les fichiers multimédias (photos, images, graphismes, logos, sons...) sont la propriété exclusive de la société <span class="text-warning">DEMENAGER PAS CHER.COM</span>. Ces fichiers présents sur notre site web font, si nécessaire, l’objet d’une autorisation de leur propriétaire et d’une licence. Il est strictement interdit de reproduire ou de représenter partiellement ou intégralement notre site web sans autorisation de notre part. Les bases de données de ce site web sont protégées par les dispositions de la loi du 1erjuillet 1998 portant transposition dans le code de la propriété intellectuelle de la directive 96/9/CE du Parlement européen et du Conseil, du 11 mars 1996, concernant la protection juridique des bases de données.</p>
    <h5 class="text-warning text-uppercase">Responsabilité</h5>
    <p>es informations portant sur notre société et présentes sur notre site web sont, si nécessaire, corrigées et mises à jour. Nous nous efforçons de vérifier l’exactitude de toute information avant sa publication en ligne. La société <span class="text-warning">DEMENAGER PAS CHER.COM</span> garantit l’exactitude, la précision et l’exhaustivité de toutes les informations en relation avec son domaine d’activité. DEMENAGER PAS CHER.COM n’est pas responsable des informations introduites ou modifiées par un tiers sur son site web, ainsi que les éventuels dommages résultant d’une telle manipulation de données.</p>
    <h5 class="text-warning text-uppercase">Liens hypertextes</h5>
    <p>Les liens hypertexte présents sur ce site Internet et aiguillant les utilisateurs vers d’autres sites Internet n’engagent pas la responsabilité de la rédaction de demenager-pas-cher.com. Ces liens hypertexte doivent également faire l’objet d’une autorisation préalable. Les utilisateurs de notre site web doivent disposer d’une autorisation préalable pour mettre des liens hypertextes vers notre site. Une autorisation préalable, expresse ou écrite peut être fournie de notre part.</p>
{% endblock %}