{{ form_start(form) }}
{{ form_widget(form) }}
    <hr>
    <div class="text-center d-grid gap-2">
    <button class="btn btn-lg btn-primary text-uppercase" type="submit">{{ button_label|default('Save') }}</button>
    </div>
    <hr>
{{ form_end(form) }}