<header>
    <h3>Bonjour M/Mme{{ devis.nom}}</h3>
</header>
<main>
    <p>Veuillez trouver ci-joint votre devis de déménagement</p>
    <p>N'hésitez pas à nous contacter pour toute information complémentaire.</p>
    <p>Vous remerciant de la confiance que vous portez à notre entreprise, nous vous prions d'agréer l'expression de nos sincères salutations.</p>
    <p>Cordialement,</p>
</main>
<footer>
    <p>demenager-pas-cher.com</p>
    <p>DPC demenagements - Z.A 8 Rue Des Refugniks</p>
    <p>94000 - CRETEIL</p>
    <p>Tél : 0143990000 (9h/18h)</p>
    <p>Mobile : 0966974927 (9h/18h)</p>
    <p>Email : contact@demenager-pas-cher.com </p>
</footer>