<p>Bonjour M/Mme {{ devis.nom }}</p> 
<p>
Votre demande de devis pour votre déménagement a bien été traitée et vous sera envoyée par mail dans les plus brefs délais, attention le devis peut parfois se retrouver dans les spams ou dans les courriers indésirables.
</p>

<article>
Bien cordialement
</article>
<section>
Nous restons à votre disposition pour plus de renseignements au :
</section>
<div>
01 43 99 00 00 ou au 09 66 97 49 27
</div>
<p>
DMC Déménagements , Artisans de père en fils
</p>